<div class="card-body">
	<h5 class="card-title">Trends for You</h5>
	<ul class="list-unstyled">
		<li>
			<a href="#">#SocialNetwork</a>
			<br>
			<span class="text-muted small">10 posts</span>
		</li>
		<li>
			<a href="#">#meme</a>
			<br>
			<span class="text-muted small">8 posts</span>
		</li>
		<li>
			<a href="#">#Kyiv</a>
			<br>
			<span class="text-muted small">4 posts</span>
		</li>
		<li>
			<a href="#">#2025</a>
			<br>
			<span class="text-muted small">4 posts</span>
		</li>
	</ul>
</div>