html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*overflow-x: hidden;    hide horizontal scroll */
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* @import "tailwindcss"; */

.logo {
    color: #000;
    font-family: Consolas, monospace;
    font-weight: bold;
    font-style: normal;
}

.userpic {
    border-radius: 25%
}

@media (max-width: 768px) {
    .userpic {
        width: 30px;
        height: 30px;
    }
}

.notification-icon img, svg {
    width: 30px;
    height: 30px;
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 767px) {
    .notification-icon img, svg {
        width: 15px;
        height: 15px;
    }
}

.dropdown-center {
    position: relative;
}

/* my width for normal-menu */
@media (min-width: 460px) {
    .navbar-expand-mysm {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

        .navbar-expand-mysm .navbar-nav {
            flex-direction: row;
        }

            .navbar-expand-mysm .navbar-nav .dropdown-menu {
                position: absolute;
            }

            .navbar-expand-mysm .navbar-nav .nav-link {
                padding-right: var(--bs-navbar-nav-link-padding-x);
                padding-left: var(--bs-navbar-nav-link-padding-x);
            }

        .navbar-expand-mysm .navbar-nav-scroll {
            overflow: visible;
        }

        .navbar-expand-mysm .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-expand-mysm .navbar-toggler {
            display: none;
        }

        .navbar-expand-mysm .offcanvas {
            position: static;
            z-index: auto;
            flex-grow: 1;
            width: auto !important;
            height: auto !important;
            visibility: visible !important;
            background-color: transparent !important;
            border: 0 !important;
            transform: none !important;
            transition: none;
        }

            .navbar-expand-mysm .offcanvas .offcanvas-header {
                display: none;
            }

            .navbar-expand-mysm .offcanvas .offcanvas-body {
                display: flex;
                flex-grow: 0;
                padding: 0;
                overflow-y: visible;
            }
}

/* Sidebar */

#sidebar {
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    padding: 10px;
}

#sidebar a {
    text-decoration: none;
}

@media (max-width: 1484px) {
    #sidebar {
        width: 250px;
    }
}

@media (max-width: 1272px) {
    #sidebar {
        width: 200px;
    }
}

@media (max-width: 1050px) {
    #sidebar {
        position: relative;
        width: 100%;
        top: 0;
    }

    #sidebar .card-title {
        font-size: 16px;
        text-align: center;
    }
}
