@model List<Post>

@{
	ViewData["Title"] = "Home";
}

<div id="site__main" class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<!-- create post section -->
			<partial name="Components/_CreatePost" model="new PostVM()"></partial>

			<!-- Sidebar -->
			<div id="sidebar">
				<div class="card mb-3">
						<partial name="Sidebar/_RecommendedProfiles"></partial>
				</div>
				<div class="card mb-3">
						<partial name="Sidebar/_TrendsForYou"></partial>
				</div>
			</div>

			@if (Model.Count == 0)
			{
				<div class="col-md-8 text-muted text-center">There is no posts.</div>
			} else
			{
				<!-- Posts Feed -->
				<div id="posts-container">
					<!-- single post -->
					@foreach (var post in Model)
					{
						<partial name="Home/_Post" model="post"></partial>
					}
				</div>
			}


		</div>
	</div>
</div>

