@{
	ViewData["Title"] = "Home";
}

<div id="site__main" class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<!-- create post section -->
			<partial name="Components/_CreatePost"></partial>

			<!-- Sidebar -->
			<div id="sidebar">
				<div class="card mb-3">
					<partial name="Sidebar/_RecommendedProfiles"></partial>
				</div>
				<div class="card mb-3">
					<partial name="Sidebar/_TrendsForYou"></partial>
				</div>
			</div>

			<!-- should be displayed only if there are no posts -->
			<div class="col-md-8 text-muted text-center">There is no posts.</div>

			<!-- Posts Feed -->
			<div id="posts-container">
				<!-- single post -->
				<div class="card mb-3">
					<div class="card-body">
						<!-- post header -->
						<div>
							<div class="d-flex justify-content-between align-items-center">
								<div class="d-flex align-items-center">
									<img src="images/user.png" class="me-2" width="40" height="40" alt="User Avatar"> <!-- rounded-circle -->
									<div>
										<strong>Name</strong> <br>
										<small class="text-muted">@@nick</small>
									</div>
								</div>
								<div class="dropdown">
									<button class="btn btn-light btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
										<ion-icon name="ellipsis-horizontal"></ion-icon>
									</button>
									<ul class="dropdown-menu dropdown-menu-end">
										<li><a class="dropdown-item text-danger" href="#">Delete post</a></li>
									</ul>
								</div>

							</div>
							<small class="text-muted">21:00 &nbsp;&nbsp; 16.03.2025</small>
						</div>

						<!-- post text -->
						<p class="mt-2">
							This is an example post. ngfnfntfcnngcngn hgcngnhgcnhgcnhgchmcg mkvmskvkdv fdbfdbfdbd igirjgisdjrigjijgird 54trjiegjirjsgkrg grdsgrndgrdngg grdgjrdgrd htrhtfhfg
						</p>

						<!-- image placeholder -->                                                                        <!-- onerror="this.style.display='none'; - to not display placeholder -->
						<div class="text-center">
							<img id="postImage" src="images/placeholder.jpg" class="img-fluid border" alt="Post Image" onerror="this.src='images/placeholder.jpg';" style="max-height: 500px; object-fit: cover; border-radius: 0;" />
						</div>

						<!-- post footer -->
						<div class="d-flex mt-2">
							<div>
								<button class="btn btn-light btn-sm">
									<ion-icon name="thumbs-up-outline"></ion-icon>
								</button>
								<span>0</span>
								<button class="btn btn-light btn-sm">
									<ion-icon name="thumbs-down-outline"></ion-icon>
								</button>
								<span>0</span>
								<button class="btn btn-light btn-sm">
									<ion-icon name="chatbox-outline"></ion-icon>
								</button>
								<span>0</span>
							</div>
							<div class="d-flex align-items-center ms-auto">
								<button class="btn btn-light btn-sm me-2">
									<ion-icon name="bookmark-outline"></ion-icon>
								</button>
								<button class="btn btn-light btn-sm me-2">
									<ion-icon name="resize-outline"></ion-icon>
								</button>
							</div>
						</div>

						<!-- comment-section -->
						<div class="comment-section mt-3">
							<textarea class="form-control" rows="1" placeholder="..."></textarea>
							<button class="btn btn-primary btn-sm mt-2 float-end me-4 me-sm-5">Post Comment</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

