@model List<Post>

@{
	ViewData["Title"] = "Home";
}

<div id="site__main" class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<!-- create post section -->
			<partial name="Components/_CreatePost" model="new PostVM()"></partial>

			<!-- Sidebar -->
			<div id="sidebar">
				<div class="card mb-3">
						<partial name="Sidebar/_RecommendedProfiles"></partial>
				</div>
				<div class="card mb-3">
						<partial name="Sidebar/_TrendsForYou"></partial>
				</div>
			</div>
			<div id="posts-container"> 
			@if (Model.Count == 0)
			{
				<div class="col-md-8 text-muted text-center">There is no posts.</div>
			} 
			else
			{
				<!-- Posts Feed -->
				<div id="posts-container">
					<!-- single post -->
					@foreach (var post in Model)
					{
						<partial name="Home/_Post" model="post"></partial>
					}
				</div>
			}
			</div>

		</div>
	</div>
</div>
<script>
     document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('posts-container').addEventListener('click', function () {

            const button = event.target.closest('.like-button, .favorite-button')
            if (button) {
                event.preventDefault();

                var form = button.closest('form');
                var postId = form.querySelector('input[name="postId"]').value;
                var postContainer = document.getElementById('post-' + postId);

                fetch(form.action, {
                    method: 'POST',
                    body: new FormData(form),
                    headers: {}
                })
                    .then(response => response.text())
                    .then(html => {
                        postContainer.innerHTML = html;
                    })
                    .catch(error => console.error('Error: ', error));
            }
        });

        document.getElementById('posts-container').addEventListener('submit', function () {
            var form = event.target;

            if (form.classList.contains('add-comment-form')) {
                event.preventDefault();

                var postId = form.querySelector('input[name="postId"]').value;
                var postContainer = document.getElementById('post-' + postId);

                fetch(form.action, {
                    method: 'POST',
                    body: new FormData(form),
                    headers: {}
                })
                    .then(response => response.text())
                    .then(html => {
                        postContainer.innerHTML = html;
                    })
                    .catch(error => console.error('Error: ', error));
            }

            if (form.classList.contains('remove-comment-form')) {
                event.preventDefault();

                var postId = form.querySelector('input[name="postId"]').value;
                var commentId = form.querySelector('input[name="commentId"]').value;

                var postContainer = document.getElementById('post-' + postId);

                fetch(form.action, {
                    method: 'POST',
                    body: new FormData(form),
                    headers: {}
                })
                    .then(response => response.text())
                    .then(html => {
                        postContainer.innerHTML = html;
                    })
                    .catch(error => console.error('Error: ', error));

            }
        })
    })

</script>

